*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
    height: 80px;
    font-size: 1.5rem;
}
header img{
    position: absolute;
    left: 0;
    top:0;
}
header a{
    text-decoration: none;
    color: whitesmoke;
}

main{
    background: rgb(33, 8, 8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    padding: 50px;
    position: relative;
}
main h1{
    padding-bottom: 50px;
}
main img{
    padding-bottom: 50px;
}
main p{
    padding-bottom: 50px;
}
hr{
    width: 300px;
}
article {
    display: flex;
    justify-content: space-around; 
    gap: 40px;
    padding: 30px;
    text-align: left;
}
button{
    padding: 12px;
    border-radius: 30px;
    outline: none;
    font-size: 1rem;
    
}
button a{
    text-decoration: none;
    color: black;
}
#pero{
    position: absolute;
    right: 330px;
    bottom: -40px;
}




.belo{
    background-color: whitesmoke;
    position: absolute;
    top: 20px;
    left: 51px;
   padding: 5px 10px;
   color: whitesmoke;
   border-radius: 50%;
}
.title{
    display: flex;    
    align-items: center; 
    text-align: center;}
    
    .title::before,
    .title::after{
        content: "";
        flex: 1;
        border-top: 2px solid whitesmoke;
        width: 100px;
        margin: 0 10px;
    }






footer{
    background: black;
}
.aplikacije{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding-bottom: 20px;
}
.aplikacije .dm{
    display: flex;
    flex-direction: column  ;
}
.aplikacije a{
    color: whitesmoke;
    text-decoration: none;
}